.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
}


.sidebar-link {
    background-color: white;
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235,235,235);
}


.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}


.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    height: 24px;
}